{% block seoOgImage_widget %}
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                {{ form_widget(form) }}
                <span class="input-group-btn">
                    <a href="/assets/vendor/filemanager/dialog.php?type=1&field_id={{ form.vars.id }}" data-fancybox data-type="iframe" class="select-file btn btn-primary">
                        ...
                    </a>
                </span>
            </div>
        </div>
    </div>
{% endblock %}
