{% extends 'backend/layout.html.twig' %}

{% block page_title %}Szablony e-mail{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div id="content-datatable-holder">Loading...</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        jQuery(function() {
            jQuery('#content-datatable-holder').initDataTables({{ datatable_settings(datatable) }});
        });
    </script>
{% endblock %}
