{% extends 'backend/layout.html.twig' %}

{% block page_title %}Dashboard{% endblock %}

{% block page_content %}
    <div class="alert alert-info">
        Witaj w systemie zarządzania
    </div>
{% endblock %}
